* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

body,
html {
    width: 100%;
    height: 100%
}

body {
    font-family: Arial, sans-serif
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/photos/leila-de-haan-r-19f0BFTfI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1
}

.music-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1
}

.music-titleBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 7px;
    padding: 5px 0;
    overflow: hidden;
    position: relative
}

.scrolling-wrapper {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative
}

.scrolling {
    display: inline-block;
    padding-left: 100%;
    animation: scrollText 10s linear infinite
}

.scrollinghh {
    display: inline-block;
    padding-left: 100%;
    animation: scrollText 10s linear infinite
}

@keyframes scrollText {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

.music-titleBox p:nth-child(2) {
    font-size: 10px
}

.music-playerBox {
    width: 40%;
    height: 100%;
    display: flex;
    place-items: center;
    justify-content: center
}

.music-player {
    padding: 20px;
    width: 50%;
    text-align: center;
    position: relative;
    margin: 20px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: inset -5px -5px 10px #acacac, inset 5px 5px 10px #fff
}

.music-contBox {
    width: 100%
}

.player-header {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.player-header::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0
}

.player-header h1 {
    margin: 0;
    font-size: 1.5em
}

#currentTrackImage {
    width: 100%;
    border-radius: 20px
}

input[type=file] {
    display: block;
    margin: 10px auto
}

.player-controls {
    margin: 10px 0
}

.control-button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: .2em;
    cursor: pointer;
    margin: 0 5px
}

.progress-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px
}

#progress {
    flex: 1;
    width: 100%
}

.volume-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0
}

#volume {
    width: 100%
}

.music-item {
    margin: 10px;
    display: flex;
    align-items: center
}

.music-item img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%
}

.music-item button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer
}

.music-item button:hover {
    background: #0056b3
}

.ctrl-btn {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin: 5px 0
}

.ctrl-btn input[type=checkbox] {
    display: none
}

.ctrl-btn span {
    cursor: pointer
}

.popup-message {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity .3s ease-in-out
}

.popup-message.show {
    display: block;
    opacity: 1
}

.slider {
    --slider-width: 100%;
    --slider-height: 6px;
    --slider-bg: rgb(82, 82, 82);
    --slider-border-radius: 999px;
    --level-color: #14edd7d1;
    --level-transition-duration: .1s;
    --icon-margin: 15px;
    --icon-color: var(--slider-bg);
    --icon-size: 25px
}

.slider {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.slider .volume {
    display: inline-block;
    vertical-align: top;
    margin-right: var(--icon-margin);
    color: var(--icon-color);
    width: var(--icon-size);
    height: auto
}

.slider .level {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--slider-width);
    height: var(--slider-height);
    background: var(--slider-bg);
    overflow: hidden;
    border-radius: var(--slider-border-radius);
    -webkit-transition: height var(--level-transition-duration);
    -o-transition: height var(--level-transition-duration);
    transition: height var(--level-transition-duration);
    cursor: inherit;
    margin-right: var(--icon-margin)
}

.slider .level::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    -webkit-box-shadow: -200px 0 0 200px var(--level-color);
    box-shadow: -200px 0 0 200px var(--level-color)
}

.slider:hover .level {
    height: calc(var(--slider-height) * 2)
}

#file-input {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, .288)
}

#file-input::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out
}

#file-input::file-selector-button:hover {
    background: #0d45a5
}

#playingListMenu {
    text-align: right;
    cursor: pointer;
    display: none
}

.playingList {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.music-playing-style {
    width: 40%;
    height: 100%;
    position: relative
}

.main {
    --clr: #FDFFFC;
    --clr-text: #1C1D21;
    --clr1: #018E42;
    background-color: var(--clr);
    padding-bottom: 1.1em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    outline: 2px solid var(--clr);
    outline-offset: 3px;
    height: 90%;
    padding: 20px;
    margin: 20px;
    width: 50%
}

.top-bar {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: .5rem;
    list-style: none
}

.songs {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow: hidden;
    overflow-y: scroll
}

.loader {
    display: flex;
    flex-direction: row;
    height: 4em;
    padding-inline: 1em;
    transform: rotate(180deg);
    justify-content: right;
    border-radius: 10px;
    transition: .4s ease-in-out;
    margin-bottom: 5px;
    background: #f0f8ff;
    box-shadow: inset -5px -5px 10px #5a5a5a, inset 5px 5px 10px #fff
}

.song>* {
    transition: .4s ease-in-out
}

.loader:hover {
    cursor: pointer;
    background-color: var(--clr1);
    --clr-text: #FDFFFC;
    box-shadow: inset 0 0 10px #5a5a5a, inset 0 0 10px #fff
}

.currentplaying {
    display: flex;
    align-items: center;
    align-self: center;
    margin: 1em 2rem;
    padding: .5rem;
    width: 100%;
    background-color: #018E42dd;
    border-radius: .5rem
}

.currentplayingIcon {
    width: 50px;
    height: 50px;
    margin-right: .6em
}

.heading {
    color: var(--clr);
    font-size: 1.1em;
    font-weight: 700;
    align-self: center
}

.loading {
    display: flex;
    margin-top: 1em;
    margin-left: .3em
}

.load {
    width: 2px;
    height: 33px;
    background-color: #f4f4f4;
    animation: 1s move6 infinite;
    border-radius: 5px;
    margin: .1em
}

.load:first-child {
    animation-delay: .2s
}

.load:nth-child(2) {
    animation-delay: .4s
}

.load:nth-child(3) {
    animation-delay: .6s
}

.play {
    position: relative;
    left: .35em;
    height: 1.6em;
    width: 1.6em;
    clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
    background-color: var(--clr-text);
    transform: rotate(-90deg);
    align-self: center;
    margin-top: .7em;
    justify-self: center;
    transition: .4s ease-in-out
}

.albumcover {
    position: relative;
    margin-right: 1em;
    height: 50px;
    width: 60px;
    background-color: #e9e8e8;
    align-self: center;
    border-radius: 5px
}

.albumcover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transform: rotate(180deg)
}

.song {
    position: relative;
    transform: rotate(180deg);
    margin-right: 1em;
    color: var(--clr-text);
    align-self: center;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative
}

#selectedSong {
    white-space: nowrap;
    position: relative
}

.artist {
    font-size: .6em;
    color: var(--clr-text);
    margin: 5px 0
}

@keyframes move6 {
    0% {
        height: .2em
    }

    25% {
        height: .7em
    }

    50% {
        height: 1.5em
    }

    100% {
        height: .2em
    }
}

@media only screen and (max-width:600px) {
    #playingListMenu {
        display: block;
        position: absolute;
        bottom: 2%;
        right: 5%
    }

    .music-playerBox {
        width: 100%;
        height: 100%
    }

    .music-player {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
        padding: 20px;
        width: 90%;
        height: 95%;
        text-align: center
    }

    .music-box {
        width: 100%;
        height: 100%;
        display: block
    }

    #currentTrackImage {
        width: 100%
    }

    .music-playing-style {
        display: none
    }

    .main {
        width: 90%;
        max-height: 90%
    }

    .playingList {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70%
    }

    .playingList {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70%;
        transition: transform .3s ease-in-out;
        transform: translateY(100%);
        z-index: 1000;
        padding-top: 10px;
        border-radius: 20px 20px 0 0;
        background: #e0e0e0;
        box-shadow: inset -5px -5px 10px #bebebe, inset 5px 5px 10px #fff
    }

    .playingList.visible {
        transform: translateY(0);
        display: block
    }

    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        display: none;
        z-index: 999
    }

    .popup-message {
        font-size: 11px
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 12px
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555
}

.scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1
}

.scrollbar-custom {
    -ms-overflow-style: -ms-autohiding-scrollbar
}

.scrollbar-custom {
    overflow-y: scroll;
    max-height: 400px
}

.playing {
    position: absolute;
    top: 50%;
    left: 25%;
    width: auto;
    transform: translateX(-50%) translateY(-50%)
}

.playing:after {
    content: "Animation Playing.";
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 10px;
    color: #f1f1f1
}

.now.playing .bar {
    display: inline-block;
    position: relative;
    margin-right: 8px;
    width: 15px;
    height: 1px;
    overflow: hidden;
    background: linear-gradient(to bottom, #ff9500, #ff5e3a, #1b1bd6);
    color: transparent;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite
}

.paused.playing .bar {
    animation-iteration-count: 1
}

.paused.playing:after {
    content: "Animation Paused.";
    text-align: center;
    color: #f1f1f1
}

.n1 {
    animation-delay: .5s
}

.n2 {
    animation-delay: .2s
}

.n3 {
    animation-delay: 1.2s
}

.n4 {
    animation-delay: .9s
}

.n5 {
    animation-delay: 2.3s
}

.n6 {
    animation-delay: 1.3s
}

.n7 {
    animation-delay: 3.1s
}

.n8 {
    animation-delay: 1.9s
}

@keyframes pulse {
    0% {
        height: 1px;
        margin-top: 0
    }

    10% {
        height: 40px;
        margin-top: -40px
    }

    50% {
        height: 20px;
        margin-top: -20px
    }

    60% {
        height: 30px;
        margin-top: -30px
    }

    80% {
        height: 60px;
        margin-top: -60px
    }

    100% {
        height: 1px;
        margin-top: 0
    }
}

.music-playing-bars {
    display: inline-block;
    width: 80px;
    height: 30px;
    position: relative;
    margin-top: 5px;
    visibility: hidden
}

.bars {
    display: inline-block;
    width: 6px;
    height: 100%;
    margin-right: 3px;
    background-color: #4caf50;
    animation: pulses 1s infinite ease-in-out, colorChange 4s infinite;
    transform-origin: center
}

.bars:first-child {
    animation-delay: -.9s
}

.bars:nth-child(2) {
    animation-delay: -.7s
}

.bars:nth-child(3) {
    animation-delay: -.5s
}

.bars:nth-child(4) {
    animation-delay: -.3s
}

.bars:nth-child(5) {
    animation-delay: -.1s
}

.bars:nth-child(6) {
    animation-delay: 0s
}

@keyframes pulses {

    0%,
    100% {
        transform: scaleY(1)
    }

    50% {
        transform: scaleY(.3)
    }
}

@keyframes colorChange {
    0% {
        background-color: #4caf50
    }

    25% {
        background-color: #ff5722
    }

    50% {
        background-color: #ffc107
    }

    75% {
        background-color: #2196f3
    }

    100% {
        background-color: #4caf50
    }
}

button {
    border: none;
    background: 0 0;
    cursor: pointer
}

.Biplove,
.Mycredit {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 1%;
    left: 5%;
    font-size: 11px;
    cursor: pointer
}

.Biplove {
    justify-content: center;
    left: 45%;
    bottom: 3%;
    font-size: 15px
}

.Biplove p::before,
.Mycredit p::before {
    content: "© ";
    font-weight: 700;
    margin-right: 1px
}

.socialMedialink svg {
    width: 12px;
    height: 12px;
    vertical-align: middle
}

.Biplove .socialMedialink svg {
    width: 15px;
    height: 15px;
    vertical-align: middle
}
